# basics
sklearn
numpy
tqdm
pandas
ipywidgets


# explorer
aiohttp[speedups]
python-dotenv


# explainers
lime
#shap
# experimental TFv2 support for lime
git+https://github.com/pkage/shap


# learning tools
torch
torchvision
xgboost
thinc>=8.0.0a0
tensorflow # for Keras
